{% extends "base.html" %}

{% block title %} 
    <title>{{ notebook.title }} - {{ site }}</title>
{% endblock %}

{% block content %}

        {% if entries %}
                {% for entry in entries %}
                    <div class="entry">
                        <header class="entryhead">
                            <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1>
                            <small><i>"{{entry.notebook}}"</i> notebook</small><br>
                            <small>{{entry.pub_date.year}}/{{entry.pub_date.month}}/{{entry.pub_date.day}}</small><br>
                        </header>
                        <p>{{ entry.text }}</p>
                    </div>
                {% endfor %}

                <br />

                {% if page.has_previous %}
                    <a href="/{{ page.previous_page_number }}/">Previous Page</a>
                {% endif %}

                {% if page.has_next %}
                    <a href="/{{ page.next_page_number }}/">Next Page</a>
                {% endif %}
        {% else %}
                        <div class="entry">
                        <p>No entrys matched</p>
                        </div>
        {% endif %}

    </div>

    <br style="clear:both;">

{% endblock %}