{% extends "base.html" %}

{% block content %}

        {% if notebooks %}
            {% for notebook in notebooks %}
                <div class="page-header">
                    <h2><a href="{{ notebook.get_absolute_url }}">{{ notebook.title }} notebook</a></h2>
                    <small>Started on: {{notebook.start_date.year}}/{{notebook.start_date.month}}/{{notebook.start_date.day}}</small>
                    <p>{{ notebook.description }}</p>
                </div>
            {% endfor %}

            <ul class="pager">
                    {% if page.has_previous %}
                        <li><a href="/{{ page.previous_page_number }}/">Previous Page</a></li>
                    {% endif %}

                    {% if page.has_next %}
                        <li><a href="/{{ page.next_page_number }}/">Next Page</a></li>
                    {% endif %}
                </ul>
        
        {% else %}
            <div class="entry">
                <p>No notebooks yet!</p>
            </div>
        {% endif %}

    </div>

    <br style="clear:both;">

{% endblock %}